<%= form_for(@racer) do |f| %>
  <% if @racer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@racer.errors.count, "error") %> prohibited this racer from being saved:</h2>

      <ul>
      <% @racer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="form-group">
    <%= f.label :number %><br>
    <%= f.number_field :number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gender %><br>
    <%= f.text_field :gender, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :group %><br>
    <%= f.text_field :group, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :secs %><br>
    <%= f.number_field :secs, class: 'form-control' %>
  </div>
  
    <%= f.submit %>
  </div>
<% end %>
